*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #242424;
    color: white;
    font-family: "sans-serif";
    margin: 0;
}

a {
    color: #2568ef;
    display: inline-block;
    margin-top: 1em;
    font-size: 1.2em;
    text-decoration: none;
}

br {
    margin-bottom: 2rem;
}

a:hover {
    opacity: 0.85;
}

a:active {
    opacity: 0.7;
}

.product-title {
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.25rem 0;
    display: inline-block;
}

#all-product-container {
    padding: 1rem 2rem;
    margin: 0 auto;
    max-width: 1000px;
}

.product-id {
    font-weight: normal;
    font-size: 0.8em;
}

input,
label {
    cursor: pointer;
}

input[type="checkbox"] {
    margin-right: 1ch;
}

input[type="checkbox"]:not(:checked) + label + .product-container {
    display: none;
}

p {
    margin: 0.5em 1em;
}
